################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WeatherOrNot/WeatherOrNot.iOS/MasterViewController.Keys.cs
/WeatherOrNot/WeatherOrNot.Droid/Resources/values/keys.xml
